<div class="ui segment empty" style="width: 100%; height: 340px; box-shadow: none; z-index: 1;">
  <div class="ui active inverted dimmer">
    <i class="inbox huge icon"></i>
    <br />
    <p class="ui text">暂无数据</p>
  </div>
</div>
