<div class="ui container">
  <div class="ui centered grid">
    <div class="sixteen wide mobile six wide computer column">
      <div class="empty" style="text-align: center">
        <img src="{{ assetsUrl('assets/images/empty.png') }}" style="width: 150px; margin: 7rem 0 1rem;" alt="" />
        <p>这里是空的 ...</p>
      </div>
    </div>
  </div>
</div>
