@layout('layouts.main')

@section('title')
  @!component('components.title', {
    title: data.title
  })
@endsection

@section('style')

@endsection

@section('content')
  <div class="ui container">
    <div class="ui grid">
      
    </div>
  </div>
@endsection

@section('script')

@endsection
