/* .page.index */
.page.index .swiper-container {width: 100%; height: 180px; border-radius: 5px; margin-top: 1rem;}
.page.index .swiper-slide { text-align: center; font-size: 18px; background: #fff; /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }
.page.index .ui.horizontal.items {margin: 1rem 0; display: flex; justify-content: space-between; font-size: 0;}
.page.index .ui.horizontal.items .item {display: inline-block; text-align: center; width: 20%;}
.page.index .ui.horizontal.items .item img.ui.image {width: 70% !important; margin: 15%;}
.page.index .ui.horizontal.items .item span {font-size: 1rem;}
.page.index .ui.grid.shop .column:nth-child(odd) {padding-right: 0.5rem; padding-bottom: 0;}
.page.index .ui.grid.shop .column:nth-child(even) {padding-left: 0.5rem; padding-bottom: 0;}
.page.index .ui.grid.shop .column .ui.card, .ui.grid.shop .column .content img {width: 100%; box-shadow: none;}
.page.index .ui.grid.shop .column .content, .ui.grid.shop .column .content.extra {padding: 0.75rem;}
.page.index .ui.grid.shop .column .title {font-size: 1.2em; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -moz-box; -moz-line-clamp: 2; -moz-box-orient: vertical; overflow-wrap: break-word; word-break: break-all; white-space: normal; overflow: hidden;}
.page.index .ui.grid.shop .column .price {font-size: 1.2rem; color: #000; display: block; margin-top: 0.5rem;}
.page.index .ui.grid.shop .column .price .through {text-decoration: line-through; color: rgba(0,0,0,.4); font-size: 0.85em;}

/* .page.cart */
.page.cart .shop {width: 100%; display: flex; align-items: center; background: #FFF;}
.page.cart .shop i.icon {margin: 8px;}
.page.cart .shop + .shop {margin-top: 1rem;}
.page.cart .shop .content {flex: 1; height: 80px; padding: 0.25rem 0.75rem;}
.page.cart .shop .title {text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -moz-box; -moz-line-clamp: 1; -moz-box-orient: vertical; overflow-wrap: break-word; word-break: break-all; white-space: normal; overflow: hidden;}
.page.cart .shop .description {color: #666; margin-bottom: 0;}
.page.cart .shop .price {font-size: 1rem; color: #000; display: block; margin-top: 0.5rem;}
.page.cart .shop .price .through {text-decoration: line-through; color: rgba(0,0,0,.4);}
.page.cart .shop .foot {}
.page.cart .ui.horizontal.divider {margin: 20% 20% 5%;}
.page.cart .cart-footer {position: fixed; padding: 1rem; bottom: 60px; left: 0; width: 100%; background: #FFF; border-bottom: 1px solid #f4f4f2; z-index: 1;}
.page.cart .cart-footer .check {margin-right: 10px;}

/* .page.payment */
.page.payment .shops {padding: 1rem; background: #FFF;}
.page.payment .shop {width: 100%; display: flex; align-items: center; background: #FFF;}
.page.payment .shop + .shop {margin-top: 0.75rem; border-top: 1px solid #f4f4f2; padding-top: 0.75rem;}
.page.payment .shop .content {flex: 1; height: 80px; padding: 0.25rem 0.75rem;}
.page.payment .shop .title {text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -moz-box; -moz-line-clamp: 1; -moz-box-orient: vertical; overflow-wrap: break-word; word-break: break-all; white-space: normal; overflow: hidden;}
.page.payment .shop .description {color: #666; margin-bottom: 0;}
.page.payment .shop .foot {margin-top: 0.75rem;}
.page.payment .cart-footer {position: fixed; padding: 1rem; bottom: 0; left: 0; width: 100%; background: #FFF; z-index: 1;}
.page.payment .cart-footer .check {margin-right: 10px;}

/* .page.list */
.page.list .four {width: 25vw; padding-right: 0.5rem; position: fixed !important; top: 54px; flex: 1; z-index: -1;}
.page.list .four .ui.list .item {background-color: #FFF; height: 45px; line-height: 45px; text-align: center;}
.page.list .four .ui.list .item.active {background-color: orange; color: #FFF;}
.page.list .four::after {flex: 1; display: flex; content: ''; height: 100vh; background: #FFF;}
.page.list .twelve {margin-left: 25vw; width: 75vw; padding-left: 0.5rem;}
.page.list .shop {width: 100%; display: flex; align-items: center; background: #FFF; margin-top: 1rem;}
.page.list .shop .content {margin-left: 0.75rem; width: 100%;}
.page.list .shop .title {text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -moz-box; -moz-line-clamp: 1; -moz-box-orient: vertical; overflow-wrap: break-word; word-break: break-all; white-space: normal; overflow: hidden;}
.page.list .shop .description {color: #666; margin-bottom: 0;}
.page.list .shop .price {font-size: 1rem; color: #000; display: block; margin-top: 0.5rem;}
.page.list .shop .price .through {text-decoration: line-through; color: rgba(0,0,0,.4);}

/* .page.payment */
.page.payment .address {position: relative; margin-bottom: 1rem; padding: 1rem; background: #FFF;}
.page.payment .address::after {display: inline-block; content: ""; width: 100%; height: 0.18rem; position: absolute; bottom: 0; left: 0; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGwAAAAGCAYAAAAmCXvxAAAAAXNSR0IArs4c6QAAARpJREFUSA3F1DtLA0EUxfFzRzSLDxACKfKd0mmVQnwggaAGRFRQWFB8YZAQAkGIhZBKu3ynFIGAIIspdI+7FpZ6igt769/8p5jh2v7F+wuJNRQ1NrfePV989b6eJ48DkFveXblntm03u0+yF2FYiNCEYSp6f8a0d3rFsns4mj8EbOzeVYNEm/GgqnLVhfujlQnMDtQD/o6V5CvpeHct3nwDQsO7q/e4itlnX/eaDDnrni0PDTbSjvgrkvW9y6TmXbbbnVH2GYfeXblH1LLVXJe9AH8eLHdRyRoGZL+yoEnZbz1kv9J7rJRvj4l3Vu+xw/i5ovu/5e+D3R0vjYmQ7f2ihtU0Sdret9v1xhQhNL27co8o42PWk/0/8BvWI00NKN+BwAAAAABJRU5ErkJggg==); background-repeat: repeat; -webkit-background-size: contain; background-size: contain;}
.page.payment .lists {background: #FFF; margin-top: 1rem;}
.page.payment .lists .list {height: 45px; line-height: 45px; padding: 0.75rem 1rem;}
.page.payment .lists .list + .list {border-top: 1px solid #f4f4f2;}

/* .page.address */
.page.address .lists {background: #FFF; margin-top: 1rem;}
.page.address .lists .list {height: 55px; padding: 0.75rem 1rem;}
.page.address .lists .list + .list {border-top: 1px solid #f4f4f2;}
.page.address .lists .list.extra {height: 35px;}
.page.address .button {position: fixed; bottom: 50px; margin: 0; left: 50%; margin-left: -49px;}
